.aboutContainer{
  display: flex;
  justify-content: center;
  padding: 10rem 4rem;
}
.aboutWrapper{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}